.cards {
    margin-block-start: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(12px);
    border-radius: 18px;
    padding: 20px;
    text-align: center;
    color: white;
    transition: 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.card h2 {
    margin-block-end: 15px;
    /* color: #38bdf8; */
    color: #ecf2fa;
    font-size: 1.3rem;
}

.card p {
    margin: 8px 0;
    color: #d1d5db;
}
